obj/
bin/
HL Packages/
hdf5.dll
netcdf.dll
packages/
.vs/
ModelControllers/Outputs/netcdfCSwrapper.cs
ModelControllers/Outputs/NetCDFOutputModelController - Copy.cs
ModelControllers/Outputs/NetCDFOutputModelController.cs
